/* Grundläggande stilar */
body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 1.4rem;;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #020708;
    color: white;
	overflow-x: hidden;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

/* Header-stilar */
header {
    position: relative;
	z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 50px;
}

.menu-toggle {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon {
border: 1px solid blue;
    content: '';
    width: 30px;
    height: 3px; /* Samma höjd som den centrala linjen */
    background: #C3CBA2; /* Färg på övre och nedre linje */
    position: absolute;
    left: 0;

}

.menu-icon::before,
.menu-icon::after {
    border: 1px solid blue;
    content: '';
    width: 30px;
    height: 3px; /* Samma höjd som den centrala linjen */
    background: #C3CBA2; /* Färg på övre och nedre linje */
    position: absolute;
    left: 0;
}

.menu-icon::before {
    top: -6px; 
}

.menu-icon::after {
    top: 6px; /* Flytta nedre linjen nedåt */
}

/* Navigationsmeny */
nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    background: rgba(255, 255, 255, 0.0); /* Transparent bakgrund */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform:uppercase;
    font-weight:300;
}

.contact-button {
    color:#C3CBA2;
	font-weight: 400;
	border:2px solid #C3CBA2;
	border-radius:50px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 1001;
}

/* Hero-sektion */
.hero {
    color: white;
    text-align: center;
	position: relative;
	z-index: 1;
}

.hero-content {
    max-width: 900px;
    margin: 0 auto;
	position: relative;
	z-index: 1;
}

.hero h1 {
    font-size: 4.5rem;
    margin: 80px 0 40px 0;
    text-transform:uppercase;
    color: #000D1C;
	position: relative;
	z-index: 1;
}

.hero p {
    margin: 0 0 50px;
}

.cta-button {
    display: inline-block;
	color:#000D1C;
	background-color:#C3CBA2;
	font-weight: 500;
	border-radius:50px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

.cta-button:hover {
    background-color: #0056b3;
	margin-bottom: 50px;
}

/* Text och bild-sektion */
.text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
	max-width: 1200px;
    flex-wrap: wrap;
	margin: 0 auto;
}

.text-image p {
    margin: 0 0 20px;
}

.text-image h2 {
    font-size: 3rem;
    margin: 0 0 20px;
    text-transform:uppercase;
    color: #C3CBA2;
}

.text-content {
    flex: 1;
    padding-right: 20px;
    max-width: 600px;
}

.image-content {
    flex: 1;
}

.image-content img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

/* Tjänster-sektion */

.services-section {
    max-width: 1200px;
    margin: 200px auto; /* Centrera sektionen på sidan */
    padding: 0 20px; /* Lägg till lite padding för att undvika att innehållet når kanterna */
}
.services-heading {
    text-align: left; /* Gör rubriken vänsterställd */
    padding-left: 30px; /* Ger ett litet avstånd från marginalen om det behövs */
	display:flex;
    font-size: 3rem;
    margin: 0 0 20px;
    text-transform:uppercase;
    color: #C3CBA2;
}


.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	gap: 40px;
    padding: 0px;
	margin-top: 10px;
}

/* Tjänstekort */
.service-card {
    background-color: #000D1C;
    border-radius: 30px;
    overflow: hidden; /* Se till att bilden inte går utanför kortets gränser */
    text-align: center;
    flex: 1;
    margin: 0px;
    min-width: 250px; /* Sätter en minsta bredd på korten */
    max-width: 700px;
    padding-bottom: 20px;
}

.service-image {
    width: 100%;
    height: auto;
    display: block; /* Se till att bilden inte har extra marginaler eller fyllningar */
}

.service-card h3 {
    margin: 20px 0 10px; /* Justera marginalerna för rubriken */
}

.service-card p {
    margin: 0 20px 20px; /* Justera marginalerna för paragrafen */
	font-size: 1.2rem;
}

/** ANVÄNDS INTE I NULÄGET
.service-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}

.service-button:hover {
    background-color: #0056b3;
}
 **/

/* Footer-stilar */
footer {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto 10px;
    justify-content: center;
    align-items: center;
	text-align: center;
    color: #fff;
    padding: 20px;
	border-top: 1px solid #C3CBA2;
	max-width: 1200px;
}

.footer-left,
.footer-right {
	flex: 1 1 300px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	max-width: 500px;
}

.footer-left {
    flex: 1;
	max-width:400px;
}

.footer-heading {
	font-size: 1.6rem;
	font-weight: 400;
	color: #C3CBA2;
}

.footer-right {
    flex: 1;
    max-width: 600px;
	flex-direction: column;
}

.footer-logo {
	height: 50px;
	margin-bottom: 20px;
}

.footer-right nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.footer-right nav ul {
    list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
    text-align: center;
}

.footer-right nav ul li {
    margin-bottom: 10px;
}

.footer-right nav ul li a {
    color: #C3CBA2;
	font-weight:400;
    text-decoration: none;
}

.social-media {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 24px;
    height: 24px;
    filter: invert(97%) sepia(6%) saturate(1304%) hue-rotate(16deg) brightness(85%) contrast(88%);
}

/* Responsiva stilar */
@media (max-width: 600px) {
    header {
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9); 
        flex-direction: column;
        align-items: center;
	z-indez: 1000;
	padding: 10;
	border-radius: 10px;
    }

    nav.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    nav ul li {
        margin: 50px 0;
        text-align: center;
    }

    .text-image {
        flex-direction: column-reverse;
        text-align: center;
		width: 80vW;
    }

    .text-content {
        padding: 0;
        margin: 40px 0;
    }

    .footer-right {
        text-align: center;
    }

    .hero h1 {
    font-size: 36px;
	margin: 30px 0 20px 0;
	}
	
	.hero {
    padding: 10px;
}
}

@media (min-width: 601px) and (max-width: 1024px) {

	.services {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        margin: 10px 0;
        max-width: 80%;
    }
}
